<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="topic">
            <h2><span jhiTranslate="eo2GatewayApp.quizTopic.detail.title">Topic</span> {{ topic.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eo2GatewayApp.quizTopic.name">Name</span></dt>
                <dd>
                    <span>{{ topic.name }}</span>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button [routerLink]="['/topic', topic.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
