<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quiz">
            <h2><span jhiTranslate="eo2GatewayApp.quizQuiz.detail.title">Quiz</span> {{ quiz.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eo2GatewayApp.quizQuiz.name">Name</span></dt>
                <dd>
                    <span>{{ quiz.name }}</span>
                </dd>
                <dt><span jhiTranslate="eo2GatewayApp.quizQuiz.description">Description</span></dt>
                <dd>
                    <span>{{ quiz.description }}</span>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button [routerLink]="['/quiz', quiz.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
